@model IEnumerable<SystemaVidanta.Models.Register>

@{
    ViewBag.Title = "Index";
}


<h2>Lista Empleados</h2>

<p>
    
    <a href="@Url.Action("Create")" class="btn btn-success btn-xs">Crear Nuevo <span class="glyphicon glyphicon-user"></span></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrasena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colaborador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-warning btn-xs">Editar <span class="glyphicon glyphicon-pencil"></span></a>
                <a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-info btn-xs">Info <span class="glyphicon glyphicon-info-sign"></span></a>
                <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-danger btn-xs">Borrar <span class="glyphicon glyphicon-trash"></span></a>

            </td>
        </tr>
    }

</table>
