@model SystemaVidanta.Models.Article

@{
    ViewBag.Title = "Details";
}



<div class=" container">

    <hr />
    <div class="well col-sm-12 col-md-12 col-lg-12">
        <h2 align="center">DETALLE ARTICULO </h2> <br />
        <dl class="dl-horizontal">
            <div class="well col-sm-4 col-md-4 col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.NombreArtículo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NombreArtículo)
                </dd>
            </div>
            <div class="well col-sm-4 col-md-4 col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Descripción)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripción)
                </dd>
            </div>
            <div class="well col-sm-4 col-md-4 col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Marca)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Marca)
                </dd>
            </div>
            <div class="well col-sm-4 col-md-4 col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Modelo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Modelo)
                </dd>
            </div>
            <div class="well col-sm-4 col-md-4 col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.NumSerie)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumSerie)
                </dd>
            </div>
            <div class="well col-sm-4 col-md-4 col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.NumInterno)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumInterno)
                </dd>
            </div>
            <div class="well col-sm-4 col-md-4 col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.FechaEntrada)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaEntrada)
                </dd>
            </div>
            <div class="well col-sm-4 col-md-4 col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.FechaSalida)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaSalida)
                </dd>
            </div>


        </dl>


    </div>

    <a href="@Url.Action("Edit", new { id = Model.ID })" class="btn btn-warning btn-sm">Editar <span class="glyphicon glyphicon-pencil"></span></a> |

    <a href="@Url.Action("Index")" class="btn btn-default btn-sm">Regresar a la lista<span class=" glyphicon glyphicon-arrow-left"></span></a>

</div>
    