@model IEnumerable<SystemaVidanta.Models.Article>

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<h2>LISTA ARTICULOS</h2>
<input type="submit" value="Buscar" class="btn btn-primary"/>
<input type="text" name="name" id="name" class="form-control" placeholder="Ingrese Nombre Articulo:"/> <br />
<p>
    <a href="@Url.Action("Create")" class="btn btn-success btn-sm">Crear Nuevo <span class=""></span></a>
    <a href="@Url.Action("Export","Article")" class="btn btn-primary btn-sm">Exportar Excel <span class=""></span></a>
</p>
<table class="well table table-bordered">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreArtículo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripción)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumInterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.NombreArtículo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descripción)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Marca)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Modelo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumSerie)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumInterno)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaEntrada)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaSalida)
    </td>
    <td>
        <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-warning btn-xs">Editar <span class="glyphicon glyphicon-pencil"></span></a><br />
        <a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-info btn-xs">Detalle <span class="glyphicon glyphicon-info-sign"></span></a><br />
        @*<a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-danger btn-xs">Borrar <span class="glyphicon glyphicon-trash"></span></a>*@
    </td>
</tr>

}

</table>
}
