@model IEnumerable<SystemaVidanta.Models.Resguardo>

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="well col-sm-12 col-md-12 col-lg-12">
        <center>  <h1>LISTA RESGUARDO</h1></center>
        <input type="submit" value="Buscar" class="btn btn-primary" />

        <input type="text" name="articulo" id="articulo" class="form-control" placeholder="Ingrese Numero Colaborador:" />

    </div>
    <div class="well">


        <p>
            <a href="@Url.Action("Create")" class="btn btn-success btn-sm">Crear Nuevo <span class=""></span></a>
            <a href="@Url.Action("Export","Resguardo")" class="btn btn-primary btn-sm">Exportar Excel <span class=""></span></a>
        </p>


        <table class="well table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumColaborador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Empresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FolioResguardo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaResguardo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaDevolucion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoMovimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoPrestamo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ubicacion)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.ObservacionesResguardo)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.VoBo)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumColaborador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FolioResguardo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaResguardo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaDevolucion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoMovimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoPrestamo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ubicacion)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.ObservacionesResguardo)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.VoBo)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-warning btn-sm">Editar <span class="glyphicon glyphicon-pencil"></span></a><br />
                        <a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-info btn-sm">Detalle <span class="glyphicon glyphicon-info-sign"></span></a>
                        @*<a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-danger btn-sm">Borrar <span class="glyphicon glyphicon-trash"></span></a>*@
                    </td>
                </tr>
            }


        </table>
    </div>
}
