@model SystemaVidanta.Models.User

@{
    ViewBag.Title = "Delete";
}


<div class="container ">
    <hr />
    <div class="well col-sm-12 col-md-12 col-lg-12">
        <h2 align="center">ELIMINAR CUENTA </h2>
        <center>
            <h3>¿Estás seguro de que quieres eliminar esto?</h3> <br />
        </center>
        <dl class="dl-horizontal">
            <div class="well col-sm-6 col-md-6 col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </div>
            <div class="well col-sm-6 col-md-6 col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>
            </div>
            <div class="well col-sm-6 col-md-6 col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>
            </div>
            <div class="well col-sm-6 col-md-6 col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Level)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Level)
                </dd>
            </div>
            <div class="well col-sm-6 col-md-6 col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Active)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Active)
                </dd>
            </div>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-8 offset-9 col-md-10">
                    <div class="form-actions no-color">
                        <input type="submit" value="Borrar" class="btn btn-danger" /> |
                        <a href="@Url.Action("Index")" class="btn btn-default btn-sm">Regresar a la lista<span class=" glyphicon glyphicon-arrow-left"></span></a>
                    </div>

                    </div>
                </div>
                    }

                </div>
            </div>

