@model SystemaVidanta.Models.Guard

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />

        <div class="well row container-fluid">

            <h2 align="center">RESGUARDO ARTÍCULOS  </h2> <br />
            <div class="well col-lg-12">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.NumColaborador, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.NumColaborador, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NumColaborador, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Empresa, htmlAttributes: new { @class = "control-label " })
                        <div class="input-group">
                            @Html.EditorFor(model => model.Empresa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Empresa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FolioResguardo, htmlAttributes: new { @class = "control-label " })
                        <div class="input-group">
                            @Html.EditorFor(model => model.FolioResguardo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FolioResguardo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaResguardo, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.FechaResguardo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FechaResguardo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaDevolución, htmlAttributes: new { @class = "control-label " })
                        <div class="input-group">
                            @Html.EditorFor(model => model.FechaDevolución, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FechaDevolución, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoMovimiento, htmlAttributes: new { @class = "control-label " })
                        <div class="input-group">
                            @Html.EditorFor(model => model.TipoMovimiento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TipoMovimiento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoPrestamo, htmlAttributes: new { @class = "control-label " })
                        <div class="input-group">
                            @Html.EditorFor(model => model.TipoPrestamo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TipoPrestamo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Ubicación, htmlAttributes: new { @class = "control-label " })
                        <div class="input-group">
                            @Html.EditorFor(model => model.Ubicación, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ubicación, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ObservacionesResguardo, htmlAttributes: new { @class = "control-label " })
                        <div class="input-group">
                            @Html.EditorFor(model => model.ObservacionesResguardo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ObservacionesResguardo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.VoBo, htmlAttributes: new { @class = "control-label " })
                        <div class="input-group">
                            @Html.EditorFor(model => model.VoBo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VoBo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <h4>Buscar Articulos</h4>
            <div class="well col-lg-12">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="ArticleID">Artículos</label>
                        <div class="form-inline">
                            <input class="form-control" type="text" id="ArticleID" name="ArticleID" />
                            <a class="btn btn-primary" id="btnSearch">Buscar <i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="ArticleName">Nombre</label>
                        <div class="form-inline">
                            <input class="form-control" type="text" id="ArticleName" name="ArticleName" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="ArticleInfo">Descripción</label>
                        <div class="form-inline">
                            <input class="form-control" type="text" id="ArticleInfo" name="ArticleInfo" readonly />
                            <a class="btn btn-success" id="btninfo"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-9 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" /> |
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fas fa-long-arrow-alt-left"></i> Ir a la lista</a>
                </div>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        </div>

        <div id="Articletable">

            <table class="table table-striped" id="tablaArticulos"></table>

        </div>

    </div>
}

