@model SystemaVidanta.Models.Guard

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Guard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumColaborador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumColaborador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FolioResguardo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolioResguardo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaResguardo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaResguardo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDevolución)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDevolución)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPrestamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPrestamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicación)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicación)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservacionesResguardo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservacionesResguardo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoBo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoBo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
