@model SystemaVidanta.Models.Guard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Guard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumColaborador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumColaborador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FolioResguardo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolioResguardo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaResguardo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaResguardo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDevolución)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDevolución)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPrestamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPrestamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicación)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicación)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservacionesResguardo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservacionesResguardo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoBo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoBo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
