@model IEnumerable<SystemaVidanta.Models.Guard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumColaborador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FolioResguardo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaResguardo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDevolución)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoMovimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPrestamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicación)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObservacionesResguardo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoBo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumColaborador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FolioResguardo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaResguardo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDevolución)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoMovimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPrestamo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicación)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObservacionesResguardo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoBo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
