<!DOCTYPE html>
<html>
<head>

    @section Styles {
        <link href="@Url.Content("~/Content/menu.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/signaturePad.css")" rel="stylesheet" type="text/css" />
        
    }

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - INVENTARIO CONTRALORIA</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgb(0 0 0 / 0.74);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <a class="navbar-brand" href="@Url.Action("Create","Article")" style="margin:auto; vertical-align:auto; align-content:center;">
                    <img alt="Logo" style="height: 22px; width: 115px; display:block; margin:auto;" src="https://aclara.mx/img/clientes/vidanta_blanco.png">
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">





                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("ARTICULOS", "create", "Article")</li>

                            <li>@Html.ActionLink("RESGUARDO", "create", "Resguardo")</li>

                            <li>@Html.ActionLink("REGISTROS", "index", "users")</li>

                            <li>@Html.ActionLink("CERRAR SESIÓN", "logout", "Home")</li>


                        }
                        else
                        {
                            <li>@Html.ActionLink("ARTICULOS", "create", "Article")</li>

                            <li>@Html.ActionLink("RESGUARDO", "create", "Resguardo")</li>

                            <li>@Html.ActionLink("CERRAR SESIÓN", "logout", "Home")</li>
                        }

                    }
                    else
                    {

                        <li>@Html.ActionLink("INICIAR SESIÓN", "Login", "Home")</li>


                        <li>@Html.ActionLink("REGISTRAR", "create", "users")</li>

                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CONTRALORIA VIDANTA </p>
        </footer>
    </div>

    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/Resguardos.js")
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/Scripts/signature_pad.umd.js")
    @Scripts.Render("~/Scripts/signature_pad.umd2.js")
    @Scripts.Render("~/Scripts/signaturePad.js")
    @Scripts.Render("~/Scripts/app.js")
    @Scripts.Render("~/Scripts/app2.js")


    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
</body>
</html>
